---
import Layout from "../layouts/Layout.astro";

const data = {
  nivel:[1,2,3,4,5,6,7,8,9],
  'Years of Cultivation': [
    '500 years',
    '1,000 years',
    '2,500 years',
    '5,000 years',
    '10,000 years',
    '15,000 years',
    '25,000 years',
    '40,000 years',
    '50,000+ years',
  ],
  'Grade Name (Korean/Hanja)':[
    '**Chogiseong (초기성 / 初基性)**',
    '**Chocheonseong (초천성 / 初天性)**',
    '**Jungcheonseong (중천성 / 中天性)**',
    '**Sangcheonseong (상천성 / 上天性)**',
    '**Chowolseong (초월성 / 超越性)**',
    '**Yeonggiseong (영기성 / 靈氣性)**',
    '**Hyeonseongche (현성체 / 顯聖體)**',
    '**Muwiche (무위체 / 無爲體)**',
    '**Taegukche (태극체 / 太極體)**'
  ],

  Description: [
    'Beginning of spiritual awakening. The core is activated.',
    'Conscious control of Hwaejeong',
    'Partial unlocking of the dual core.',
    'The body withstands the full manifestation of Hwaejeong.',
    'Enhanced spiritual perception is attained.',
    'Soul and body begin to converge.',
    'Ability to alter the physical-spiritual plane.',
    'The cultivator can create personalised techniques.',
    'Perfect duality: Ilgi and Wolgi in complete harmony.'
  ],
  'Accessible Skills':[
    '**Ilgi**: Accumulation / **Wolgi**: Suction',
    '**Ilgi**: Maintenance / **Wolgi**: Retention',
    '**Ilgi**: Expulsion / **Wolgi**: Alteration',
    '**Ilgi**: Decomposition / **Wolgi**: Manipulation',
    '**Ilgi**: Manifestation / **Wolgi**: Gravitation',
    '**Ilgi**: Vision / **Wolgi**: Union',
    '**Ilgi**: Fragmentation / **Wolgi**: Transformation',
    'Advanced personalised variations',
    ' **Celestial Dominion** – access to pure Hwaejeong and creation of divine-level techniques'
  ],
}

const tableHeaders = Object.keys(data) as (keyof typeof data)[];
const numRows = data.nivel.length




---

<Layout>
<section class="w-screen p-8 bg-[#0C2C3Dff] text-[#D2C69Cff]">
  <div class="max-w-[1080px] mx-auto w-full flex flex-col items-center">

    <h1 class="text-3xl mb-8">HWAEJEONG'S SYSTEM CULTIVATION</h1>

    <table class="border border-[#D2C69C] border-collapse">
      <tr>
        {tableHeaders.map((header) => (
          <th class="border border-[#D2C69C] p-4">{header}</th>
        ))}
      </tr>
      {Array.from({ length: numRows }).map((_, i) => (
        <tr>
          {tableHeaders.map((header) => (
            <td class="border border-[#D2C69C] p-4">
              {data[header][i]}
            </td>
          ))}
        </tr>
      ))}
    </table>

  </div>
</section>


</Layout>
<style>
  /* h1 {
    font-family: "Asiatiyca", sans-serif;
  } */
  /* li {
    font-family: "Asiatiyca", sans-serif;
  } */
</style>