---

import Header from "../components/Header.section.astro"
import Footer from "../components/Footer.astro"

import "../global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">

		<title>Astro Basics</title>
	</head>
	<body>
		<Header/>
		<!-- <Book/>
		<Bio/>
		<Links/> -->
		<slot />
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

@font-face {
  font-family: 'Asiatiyca';
  src: url('/fonts/Asiatiyca.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

</style>
